<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content estilizicao">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">APARELHA LUZIA - RESISTÊNCIA PRETA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="../../../assets/doar/card-modal-3.png" alt="" class="card-img-top">
                    <p class="mt-2"> <b>Endereço: </b>Rua Apa, nº 78 - Campos Elíseos, São Paulo, SP. </p>
                    <p><b>Horário de funcionamento: </b> Qui. à Dom., das 08h00 às 01h00.</p>
                    <p><b>E-mail: </b> <a href="aparelhaluzia@gmail.com">aparelhaluzia@gmail.com</a> <b>    ||    </b>
                    <a href="https://medium.com/@aparelha_luzia">Site Oficial</a>  <b>    ||    </b>
                    <a href="https://www.facebook.com/pg/aparelhaluzia/about/?ref=page_internal">Redes Sociais</a> </p>
                    
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
