<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content estilizicao">
            <div class="modal-header ">
                <h5 class="modal-title" id="exampleModalLabel">NOVA MULHER - ATENDIMENTO À MULHERES</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <img src="../../../assets/doar/card-modal-2.png" alt="" class="card-img-top">
                    <p class="mt-2"> <b>Endereço: </b>R. Adolfo K. Boehm, 43 - Jd. Centenario, São Paulo, SP. </p>
                    <p><b>Horário de funcionamento: </b> Seg. à Sexta, das 09h00 às 17h00.</p>
                    <p><b>E-mail: </b> <a href="casanovamulher.ong@gmail.com">casanovamulher.ong@gmail.com</a> <b>    ||    </b>
                    <a href="https://www.ongnovamulher.org/">Site</a>  <b>    ||    </b>
                    <a href="facebook.com/pg/ongnovamulher/about/?ref=page_internal">Redes Sociais</a> </p>
                    
                </div>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>



