<div class="container-fluid mt-4">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
            <img src="https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?cs=srgb&dl=photo-of-black-clothes-on-hangers-1036856.jpg&fm=jpg" alt="" class="capa">
		</div>
		<div class="col-md-1">
		</div>
	</div>
	<div class="row mt-4 mb-4">
		<div class="col-md-4 secaoPerfil">
            <img src="https://images.pexels.com/photos/1681010/pexels-photo-1681010.jpeg?cs=srgb&dl=man-in-red-jacket-1681010.jpg&fm=jpg" alt="" class="perfil">
		</div>
		<div class="col-md-8">
                <h3 class="bio">varal de donald</h3>
                <p>Beard fashion axe echo park, knausgaard shabby chic migas sriracha shoreditch VHS intelligentsia williamsburg flannel prism  blue bottle. Banh mi tacos beard fashion axe, offal VHS godard subway tile poutine fingerstache try-hard quinoa.</p>
                <br>
                <p><b>local: </b>são paulo <b class="marginl">comudando desde: </b>2020 <b class="marginl">avaliação: ★★★★★</b></p>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
            <h3 class="varal mb-4">desacúmulos</h3>
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-1.jpg">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Men's Shirt</a></h3>
                            </div>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-2.jpg">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Women's Red Top</a></h3>
                            </div>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-3.jpg">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Men's Shirt</a></h3>
                            </div>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid6">
                            <div class="product-image6">
                                <a href="#">
                                    <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo10/images/img-4.jpg">
                                </a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Men's Shirt</a></h3>
                            </div>
                            <ul class="social">
                                <li><a href="" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                                <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
		</div>
	</div>
</div>