<h2>Doações na COMUD</h2>
<h6>
  Aqui você pode conhecer um pouco mais da história, iniciativa e missão de cada ONG que apoiamos. <br> Clique e veja
  quais ONGs você se identifica e podes apoiar. Lembre-se que para nós e eles, qualquer forma de apoio é válida! <br>
  Seja apenas divulgando social e/ou virtualmente, doando aquela brusinha que já não lhe serve mais ou indo à alguma
  ação. <br> As informações de contato se encontram na seção de cada ONG, vá conhecer, a gente indica. (;
</h6>

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md 4 primeiro">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/doar/card-1-doar.png" class="card-img-top" alt="Casa 1" data-toggle="modal"
        data-target="#exampleModal">
        <app-doar-casaum></app-doar-casaum>
        <div class="card-body">
          <h5 class="card-title">Casa 1</h5>
          <p class="card-text">A Casa 1 é uma república de acolhida e um centro cultural na Bela Vista/SP. Nossa missão é acolher pessoas LGBTs em situação de risco e criar um espaço para criação, troca de ideias e tudo mais que a gente quiser pensar juntos. Aceitamos qualquer doação e ação.</p>
        </div>
      </div>
    </div>
    <div class="col-md 4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/doar/card-2-doar.png" class="card-img-top" alt="Nova Mulher" data-toggle="modal"
        data-target="#exampleModal2">
        <app-doar-novamulher></app-doar-novamulher>
        <div class="card-body">
          <h5 class="card-title">Nova mulher</h5>
          <p class="card-text">A missão de nosso serviço é oferecer atividades e atendimentos às mulheres para estimular e favorecer seu empoderamento pessoal, econômico e social. Aceitamos e fazemos ações voltadas às mulheres e mães, roupas para elas e seus filhos.
            </p>
        </div>
      </div>
    </div>
    <div class="col-md 4">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/doar/card-3-doar.jpg" class="card-img-top" alt="Aparelha Luzia" data-toggle="modal"
        data-target="#exampleModal3">
        <app-doar-aparelha></app-doar-aparelha>
        <div class="card-body">
          <h5 class="card-title">Aparelha Luzia</h5>
          <p class="card-text">Aparelha Luzia é um centro cultural e quilombo urbano de São Paulo. Arte e Cultura Negra, Resistência, Resistência Politica, Trans-feminina, dos da Rua, dos Índios da Mata. Realiza ações dentro e fora do centro, envolvendo e empoderando pessoas pretas e periféricas.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Eventos na COMUD</h2>
<h6>
  Na COMUD divulgamos ações e eventos realizados pelas ONGs parceiras com nosso apoio. <br> Veja abaixo algumas imagens
  dos eventos que já foram realizados e clique para saber mais!
</h6>

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active ind"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active ind2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2" class="active ind3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/doar/carrossel1.jpg" class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>Arrecadação Casa 1</h4>
        <p class="txtcrrssl">Primeira ação de arrecadação de roupas e capital do brechó direcionada e realizada na Casa 1</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/doar/carrossel2.png" class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>Campnaha do Agasalho</h4>
        <p class="txtcrrssl">Nossa maior parceria até hoje, com a prórpria prefeitura de SP arrecadou boas doações</p>
        </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/doar/carrossel3.png" class="d-block" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h4>Doação na Nova Mulher</h4>
        <p class="txtcrrssl">Arrecadação de roupas de -13 anos para as mães da Nova Mulher (e crianças também, claro!)</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>